.nav{
    @apply h-screen fixed bg-zinc-800 hidden lg:flex flex-col items-center justify-between py-10
}
.menu{
    @apply flex flex-col items-center gap-8 w-20
}

.icon {
    @apply size-5;
}

.active{
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: -150%;
        top: 50%;
        transform: translateY(-50%);
        height: 2rem;
        width: .25rem;
        background: blueviolet;
    }
}